/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(172, 244, 244);
  overflow-y: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;

}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.page-content {
  text-align: center;

}